.chat-main
  .main-header
    .main-header__left-box
      .main-header__left-box--current-group
        = @group.name
      .main-header__member
        .main-header__left-box--member-list
          Member:
          - @group.users.each do |user|
            = user.name
    .chat-main__group-edit
    = link_to edit_group_path(@group.id), method: :get, class: "chat-main__group-edit chat-main__group-edit--btn" do
      Edit
  .main-message__lists     
    = render partial: "message", collection: @messages
  .main-form
    = form_for [@group, @message] do |f|
      .main-form__message-text
        = f.text_field :comment, placeholder: "type a message", class: "main-form__message-text"
        = f.label :image, class: "main-form__box-image" do
          = icon('fas', 'image', class: "icon")
          = f.file_field :image, class: "hidden"
      = f.submit 'Send', class: 'main-form__btn'