.side-bar
  .side-bar__user-name
    .top-items
      .top-items__left-box
        %h3.top-items__name
          = current_user.name
      .top-items__right-box
        .top-items__icon
        = link_to new_group_path, class: "top-items__icon--btn" do
          %i.far.fa-edit
        = link_to edit_user_path(current_user), class: "top-items__icon--btn" do
          %i.fa.fa-cog
  .side-bar__group-list
    - current_user.groups.each do |group|
      .group
        = link_to "#" do        
          .side-bar__group-name
            = group.name
          .side-bar__group-messages
            メッセージはまだありません。
  
  
